@font-face {
    font-family: GloomyThings;
    src: url(../assets/tipografia/GloomyThings.ttf);
}
@font-face {
    font-family: coutore;
    src: url(../assets/tipografia/coutore.otf);
}
@font-face {
    header {
      font-family: NugiaVintage;
      src: url(../assets/tipografia/NugiaVintage.ttf); } }
